
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Manager Dashboard </h1>
    <a href='{% url "show_menu" %}'> View Menu </a><br><br>
    <a href='{% url "add_menu" %}'> Add Menu </a><br><br>
    <a href='{% url "add_menu" %}'> Update Menu </a><br><br>
    <a href='{% url "customer_orders" %}'> Accept/Reject Orders </a><br><br>

    <form action = '{% url "customer_logout" %}' method = 'post'>
        {% csrf_token %}
        <button type="submit">LOGOUT</button>

        {% comment %} <input type = "submit" value='submit'> {% endcomment %}
    </form>
</body>
</html>